<div class="col-md-8">
  
  <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
      <div class="row d-flex align-items-stretch no-gutters">
        <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
          
          <div class="row">
            {% for x in messages %}✅
                <center>
                <h5> 
                  
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   <strong style="color:green;"> {{x}} </strong>
                   <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                  </div>
                                    
                </h5>
                </center>
            {% endfor %}✔️
        </div>  

          
          <form action="{% url 'contact'} 💡" method="POST" name="contactus_form">✅

            💡<!-- In front of action="this name should be  technical name of path name of contactus() function which we write in urls.py file as views.contactus" -->

            {% csrf_token %}✔️
    <!-- Cross-Site Request Forgery (CSRF) is an attack🫡 that forces authenticated users to submit a request to a Web application against which they are currently authenticated.
    CSRF Token used to prevent unathorized person could not submit form from your website-->
    
            <div class="form-group">
             <input type="text" class="form-control" placeholder="Your Name" name="name" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your Email" name="email" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Contact No." name="phone" required>
            </div>
            <div class="form-group">
              <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message" required></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-primary py-3 px-5" name="submit">
            </div>
          </form>
          
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </section>
  
</div>